<div>
    <h1>Edit User</h1>
    <form method="POST" action="/user/<%= user.id %>/update">
        <% if(flash && flash.err) { %>
           <ul>
        <% Object.keys(flash.err).forEach(function(error){ %>
            <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }); %>
           </ul> 
        <% } %>
        
        <div>
            <input type="text" name="name" placeholder="Name" value="<%= user.name %>" /> 
            <input type="text" name="surname" placeholder="Surname" value="<%= user.surname %>" />
        </div>
        <div>
            <input type="submit" value="Save user" />
            <a href='/user'><button>Cancel·lar</button></a>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </div>
    </form>
</div>