<div>
    <table>
        <tr>
            <th>Nom</th>
            <th>Cognom</th>
            <th></th>
        </tr>
        <% _.each(users,function(user){ %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.surname %></td>
                <td>
                    <a href="/user/<%= user.id%>"><button>Veure</button></a>
                    <a href="/user/<%= user.id%>/edit"><button>Editar</button></a>
                    <form action="/user/<%= user.id%>/remove" method="POST" class="inlineBlock">
                       <input type="hidden" name="_method" value="delete"/>
                       <input type="submit" value="Eliminar"/>
                       <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
    <br/>
    <a href="/user/add"><button>Afegir nou usuari</button></a>
</div>