<div>
    <a href='/user'>Index</a>
    <table>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.surname %></td>
            <td>
                <a href="/user/<%= user.id%>/edit"><button>Editar</button></a>
                <form action="/user/<%= user.id%>/remove" method="POST" class="inlineBlock">
                       <input type="hidden" name="_method" value="delete"/>
                       <input type="submit" value="Eliminar"/>
                       <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </form></td>
        </tr>
    </table>
</div>